<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_24x24">
  <a class="jiathis_button_weixin"></a>
  <a class="jiathis_button_tsina"></a>
  <a class="jiathis_button_qzone"></a>
  <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">更多</a>
</div>
<script type="text/javascript" >
var jiathis_config= {
	url: "<%= post.url -%>",
	summary: "<%= strip_tags post.lead.squish -%>",
	desc: "<%= strip_tags post.lead.squish -%>",
	title:"<%= post.title -%> #家长书#",
	pic: "<%= post.picture? ? post.picture.url : 'http://www.jiazhangshu.com/jiazhangshu_logo.jpg' -%>",
	pics: "<%= post.picture? ? post.picture.url : 'http://www.jiazhangshu.com/jiazhangshu_logo.jpg' -%>",
	shortUrl:false,
	hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=" charset="utf-8"></script>
<script type="text/javascript">
  $(".jiathis_button_weixin").click(function(event){
	  event.preventDefault();
	  alert("HHH");
  });
</script>
<!-- JiaThis Button END -->
