<div data-behavior="overlay" class="overlay overlay-hugeinc">
  <button data-behavior="close-overlay" type="button" class="overlay-close"><span class="glyphicon glyphicon-remove"></span></button>
  <nav>
    <h2 class="grayed-heading center">Sign in or create an account</h2>
    <ul class="omniauth-button-group">
      <li class="omniauth-button">
        <%= link_to user_omniauth_authorize_path(:weibo), class: 'button weibo' do %>
          <%= icon('weibo') %>使用新浪微博登录
        <% end %>
      </li>

      <li class="omniauth-button">
        <% if browser.wechat? %>
          <%= link_to user_omniauth_authorize_path(:wechat_open), class: 'button weixin' do %>
            <%= icon('weixin') %>使用微信登录
          <% end %>
        <% else %>
          <%= link_to user_omniauth_authorize_path(:wechat_open_qr), class: 'button weixin' do %>
            <%= icon('weixin') %>使用微信登录
          <% end %>
        <% end %>
      </li>

      <li class="omniauth-button">
        <%= link_to user_omniauth_authorize_path(:qq_connect), class: 'button qq' do %>
          <%= icon('qq') %>使用 QQ 登录
        <% end %>
      </li>

      <li>
        <%= link_to "Sign in or Sign up with email", new_user_session_path, class: "signin-signup-link" %>
      </li>
    </ul>
  </nav>
</div>
